{%- spaceless -%}
	
	<div class="row-fluid">
		{%- include 'CCDNUserProfileBundle:Avatar:item_avatar.html.twig' with {'user': user, 'scale_x': 150, 'scale_y': 150, 'border': 1, 'padding': 4, } -%}
	
		{%- if is_granted('ROLE_USER') -%}
			{%- if user.id == app.user.id or is_granted('ROLE_ADMIN') -%}
				<div class="span2 pull-right btn-right">
					<a class="btn" href="{{- path('ccdn_user_profile_edit_avatar', {'userId':user.id}) -}}">{{- 'ccdn_user_profile.link.profile.edit' |trans({}, 'CCDNUserProfileBundle') -}}</a>
				</div>
			{%- endif -%}
		{%- endif -%}	
	</div>
		
{%- endspaceless -%}
