{%- spaceless -%}
	
	<div class="row-fluid">
		<div class="span10">
			{{- user.getProfile().renderAvatar(150, 150, 'img-polaroid') -}}
		</div>
		
		{%- if is_granted('ROLE_USER') -%}
			{%- if user.id == app.user.id or is_granted('ROLE_ADMIN') -%}
				<div class="span2 pull-right btn-right">
					<a class="btn" href="{{- path('ccdn_user_profile_edit_avatar', {'userId':user.id}) -}}">{{- 'ccdn_user_profile.link.profile.edit' |trans({}, 'CCDNUserProfileBundle') -}}</a>
				</div>
			{%- endif -%}
		{%- endif -%}	
	</div>
		
{%- endspaceless -%}
